<input id="search" type="search">
<h1>
  Colaborative multirotor assembly tool and price comparator
</h1>
<h2>
  Create, discuss, fork, compare
</h2>


<button>Explore</button>
<button>Create</button>

Part and multirotor comparator
Get the cheaper drone part from the web


Assemby tool
Easy to use multirotor builder, never wait 3 week s a forgotten part anymore


Colaborative builds
Explore, discuss, fork and modify builds

top build
<%= link_to 'new build', new_builder_path %>