<h1>Domains</h1>
<%= link_to 'new domain', new_domain_path() %>
<% for domain in @domains %>
    <p>
        <%= domain.name %>
        <%= link_to 'Crawl', crawl_domain_path( domain ) %>
        <%= link_to 'See', domain_path( domain ) %>
    </p>

<% end %>